.label {
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
}
.label img {
  margin-right: 4%;
}

.section-component {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-component div {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 1px 1px 10px 2px rgba(47, 118, 188, 0.15);
  border-radius: 5px;
  width: 80%;
}

.active {
  font-family: 'EB Garamond', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #35d07f;
  text-align: center;
  min-width: 50%;
  border: 1px solid #35d07f;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
}

.inactive {
  font-family: 'EB Garamond', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: rgba(38, 50, 56, 0.5);
  width: 50%;
  padding: 15px;
  cursor: pointer;
}

.qr-container {
  margin-top: 5%;
  padding: 3% 10%;
  display: flex;
}
.qr-div {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
}
.qr-text {
  margin-left: 5%;
}

.qr-text h1 {
  font-family: 'EB Garamond', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
}

.qr-text p {
  font-family: 'EB Garamond', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #000000;
}

.qr-url {
  background: rgba(196, 196, 196, 0.3);
  border-radius: 5px;
  padding: 10px;
  min-width: 250px;
  display: flex;
}
.address {
  font-family: 'EB Garamond', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: rgba(38, 50, 56, 0.5);
}

.code {
  font-family: 'EB Garamond', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  color: #35d07f;
  margin-right: 2%;
}
.agent-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}
.agent-section h1 {
  font-family: 'EB Garamond', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #000000;
}

.agent-btn {
  margin-top: 3%;
}
.agent-btn button {
  min-width: 200px;
  text-transform: capitalize;
}

.qr-code {
  width: 150px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .qr-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
    width: 100%;
  }

  .modal-logo {
    width: 30px;
    height: 30px;
  }
  .modal-side-header div h3 {
    font-size: 15px;
    margin-bottom: -2%;
  }

  .modal-side-header div p {
    font-size: 13px;
  }
  .select-component h2 {
    font-size: 12px;
  }
  .select-box {
    width: 80%;
    padding: 0%;
  }
  .span-div {
    width: 100%;
    justify-content: space-around;
  }
  .span-income {
    font-size: 20px;
  }

  .span-response {
    font-size: 20px;
  }
  .section-component div {
    width: 80%;
  }
  .active {
    font-size: 10px;
    padding: 10px;
  }
  .inactive {
    font-size: 10px;
    padding: 10px;
  }
  .qr-div {
    display: flex;
    justify-content: center;
    align-content: center;
    border: none;
  }

  .qr-text {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0%;
  }
  .qr-url {
    display: flex;
  }
  .qr-text p {
    text-align: center;
  }
  .address {
    font-size: 10px;
  }
  .agent-section {
    /* margin-top: 10%; */
  }
  .agent-section h1 {
    width: 80%;
  }
  .agent-btn {
    /* margin-top: 5%; */
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .qr-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3%;
  }

  .section-component div {
    width: 80%;
  }
  .active {
    font-size: 10px;
    padding: 10px;
  }
  .inactive {
    font-size: 10px;
    padding: 10px;
  }

  .qr-text {
    margin-top: 2%;
  }
  .qr-url {
    display: flex;
    min-width: 250px;
  }
  .address {
    font-size: 10px;
  }
  .agent-section h1 {
    width: 80%;
  }
}

.secured {
  display: flex;
  justify-content: center;
  margin-top: 0%;
}

.secured p {
  font-weight: bold;
  font-family: 'EB Garamond', serif;
  color: #263238;
}

.hr {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .hr {
    display: flex;
    background-color: rgba(38, 50, 56, 0.5);
    width: 80%;
  }
}
